



.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#12d7eb;
}
h1{
    margin-left:30px;
}

#links{
    margin:15px;
    padding:12px;
    font-size:25px;
}
footer {
    
    padding:7px;
    background-color: #12d7eb;
    text-align:center;position:relative;
    bottom:0px;
    width:100%;

}

#container {
    display: flex;
    width:100%;
    justify-content:space-between;
    
}
#sidebar{
    width:20%;
    background-color:darksalmon;
    border:solid;
    border-radius:10px;
    
}
#Mainpage{
  width:80%;
  background-color:lightgreen;
  text-align:center;
}
