.projects {
    background-color: gray;
    color: mintcream;
    padding: 5px;
    border-radius: 15px;
}

h1{
    background-color:#1a4d6b;
    text-align:center;
    color:#ff0000;
    padding:15px;

}
h2{
    color:#70b60a;
}

.skills {
    background-color: gray;
    color: mintcream;
    padding: 5px;
    border-radius: 15px;
    margin-top:10px;
}
.contact {
    background-color: gray;
    color: mintcream;
    padding: 5px;
    border-radius: 15px;
    margin-top: 10px;
}
footer {
    background-color: #1a4d6b;
    text-align: center;
    color: #cf1191;
    padding: 15px;
    margin-top:10px
}