
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        <h1> Using HTML Helper Class</h1>
        TextBox:@Html.TextBox("txt")   <br />
        Password:@Html.Password("password") <br />
        RedioButton :@Html.RadioButton("Nationaly",false) Indian <br />
        CheckBox : @Html.CheckBox("Chkbox") Graduate <br />
        TextArea :@Html.TextArea("txtarea", new {cols="55",rows="5"})  <br /> <hr />
        HTML Link :@Html.ActionLink("Facebook","http://www.facebook.com")
    </div>
</body>
</html>
