
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome Hemansh</h1><hr />
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text"/></td>
            </tr>
            <tr>
                <td>Rating</td>
                <td><input type="text" /></td>
            </tr>
            <tr><td><input type="button" value="Create" /></td></tr>
        </table>
    </div>
</body>
</html>
